<div class="jumbotron jumbotron-fluid">
  <h1>What Burgers Do You Like?</h1>
</div>
{{!-- container for entire page --}}
<div class="container">
  {{!-- start rwo one --}}
  <div class="row">

{{!-- start add a cat area --}}

{{!-- end add a cat area --}}
  </div>
  {{!-- end row one --}}

  {{!-- start row 2 --}}
  <div class="row">
{{!-- start display area for burgers  --}}
  {{!-- with each burger include a "devour" button --}}

{{!-- end display area for burgers --}}
  </div>
  {{!-- end row 2 --}}
</div>
{{!-- end container for whole page --}}